<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bands</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<array>
			<real>706</real>
			<real>350</real>
		</array>
		<integer>1</integer>
		<integer>2</integer>
		<array>
			<real>492</real>
			<real>772</real>
		</array>
		<integer>1</integer>
		<integer>3</integer>
		<array>
			<real>584</real>
			<real>246</real>
		</array>
		<integer>2</integer>
		<integer>4</integer>
		<array>
			<real>70</real>
			<real>810</real>
		</array>
		<integer>2</integer>
		<integer>5</integer>
		<array>
			<real>384</real>
			<real>670</real>
		</array>
		<integer>3</integer>
		<integer>6</integer>
		<array>
			<real>202</real>
			<real>148</real>
		</array>
		<integer>3</integer>
		<integer>7</integer>
		<array>
			<real>270</real>
			<real>392</real>
		</array>
	</array>
	<key>maxDist</key>
	<real>1380</real>
	<key>pois</key>
	<array>
		<array>
			<real>684</real>
			<real>108</real>
		</array>
		<integer>0</integer>
		<array>
			<real>604</real>
			<real>578</real>
		</array>
		<integer>1</integer>
		<array>
			<real>362</real>
			<real>890</real>
		</array>
		<integer>2</integer>
		<array>
			<real>432</real>
			<real>132</real>
		</array>
		<integer>2</integer>
		<array>
			<real>70</real>
			<real>676</real>
		</array>
		<integer>1</integer>
		<array>
			<real>400</real>
			<real>498</real>
		</array>
		<integer>2</integer>
		<array>
			<real>86</real>
			<real>430</real>
		</array>
		<integer>2</integer>
		<array>
			<real>246</real>
			<real>726</real>
		</array>
		<integer>3</integer>
	</array>
</dict>
</plist>