<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bands</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<array>
			<real>398</real>
			<real>876</real>
		</array>
		<integer>1</integer>
		<integer>2</integer>
		<array>
			<real>454</real>
			<real>774</real>
		</array>
		<integer>1</integer>
		<integer>3</integer>
		<array>
			<real>318</real>
			<real>804</real>
		</array>
		<integer>2</integer>
		<integer>4</integer>
		<array>
			<real>652</real>
			<real>656</real>
		</array>
		<integer>2</integer>
		<integer>6</integer>
		<array>
			<real>674</real>
			<real>692</real>
		</array>
		<integer>2</integer>
		<integer>7</integer>
		<array>
			<real>520</real>
			<real>572</real>
		</array>
		<integer>3</integer>
		<integer>5</integer>
		<array>
			<real>256</real>
			<real>584</real>
		</array>
		<integer>3</integer>
		<integer>8</integer>
		<array>
			<real>394</real>
			<real>688</real>
		</array>
		<integer>3</integer>
		<integer>9</integer>
		<array>
			<real>178</real>
			<real>706</real>
		</array>
		<integer>4</integer>
		<integer>10</integer>
		<array>
			<real>648</real>
			<real>302</real>
		</array>
		<integer>4</integer>
		<integer>11</integer>
		<array>
			<real>490</real>
			<real>290</real>
		</array>
		<integer>5</integer>
		<integer>12</integer>
		<array>
			<real>300</real>
			<real>68</real>
		</array>
		<integer>5</integer>
		<integer>13</integer>
		<array>
			<real>156</real>
			<real>366</real>
		</array>
	</array>
	<key>maxDist</key>
	<real>780</real>
	<key>pois</key>
	<array>
		<array>
			<real>394</real>
			<real>914</real>
		</array>
		<integer>0</integer>
		<array>
			<real>392</real>
			<real>834</real>
		</array>
		<integer>1</integer>
		<array>
			<real>552</real>
			<real>744</real>
		</array>
		<integer>1</integer>
		<array>
			<real>302</real>
			<real>746</real>
		</array>
		<integer>1</integer>
		<array>
			<real>538</real>
			<real>422</real>
		</array>
		<integer>1</integer>
		<array>
			<real>292</real>
			<real>420</real>
		</array>
		<integer>1</integer>
		<array>
			<real>630</real>
			<real>536</real>
		</array>
		<integer>1</integer>
		<array>
			<real>432</real>
			<real>528</real>
		</array>
		<integer>1</integer>
		<array>
			<real>428</real>
			<real>618</real>
		</array>
		<integer>1</integer>
		<array>
			<real>142</real>
			<real>594</real>
		</array>
		<integer>1</integer>
		<array>
			<real>628</real>
			<integer>178</integer>
		</array>
		<integer>3</integer>
		<array>
			<integer>490</integer>
			<integer>282</integer>
		</array>
		<integer>2</integer>
		<array>
			<real>502</real>
			<real>92</real>
		</array>
		<integer>3</integer>
		<array>
			<real>112</real>
			<real>236</real>
		</array>
		<integer>4</integer>
	</array>
</dict>
</plist>
