<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bands</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<array>
			<real>176</real>
			<real>696</real>
		</array>
		<integer>1</integer>
		<integer>2</integer>
		<array>
			<real>204</real>
			<real>504</real>
		</array>
		<integer>1</integer>
		<integer>3</integer>
		<array>
			<real>428</real>
			<real>598</real>
		</array>
		<integer>2</integer>
		<integer>4</integer>
		<array>
			<real>174</real>
			<real>224</real>
		</array>
		<integer>2</integer>
		<integer>5</integer>
		<array>
			<real>370</real>
			<real>298</real>
		</array>
		<integer>3</integer>
		<integer>6</integer>
		<array>
			<real>470</real>
			<real>388</real>
		</array>
		<integer>3</integer>
		<integer>7</integer>
		<array>
			<real>604</real>
			<real>430</real>
		</array>
	</array>
	<key>maxDist</key>
	<real>799</real>
	<key>pois</key>
	<array>
		<array>
			<real>136</real>
			<real>806</real>
		</array>
		<integer>0</integer>
		<array>
			<real>242</real>
			<real>616</real>
		</array>
		<integer>1</integer>
		<array>
			<real>194</real>
			<real>388</real>
		</array>
		<integer>2</integer>
		<array>
			<real>550</real>
			<real>552</real>
		</array>
		<integer>2</integer>
		<array>
			<real>230</real>
			<real>100</real>
		</array>
		<integer>1</integer>
		<array>
			<real>404</real>
			<real>184</real>
		</array>
		<integer>2</integer>
		<array>
			<real>540</real>
			<real>270</real>
		</array>
		<integer>2</integer>
		<array>
			<real>680</real>
			<real>358</real>
		</array>
		<integer>3</integer>
	</array>
</dict>
</plist>